html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}